<mat-card>
  <mat-card-header>
    <mat-card-title>Dimensions</mat-card-title>
    <mat-card-subtitle>Showing {{selectedDimType | async }} dimentions.</mat-card-subtitle>
  </mat-card-header>

  <mat-card>
    <mat-radio-group class="example-radio-group" [value]="selectedDimType | async" (change)="changeSelectedDimType($event.value)">
      <mat-radio-button class="example-radio-button" *ngFor="let dim of dimTypes | async" [value]="dim">
        {{dim}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dimType">
        <mat-header-cell *matHeaderCellDef> Dimension Type</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dimType}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</mat-card>